{{ define "main"}}
<div class="p-4 container mx-auto">
    <div class="flex flex-col items-end justify-center border-black dark:border-white border-2 p-4">
      <div class="text-gray-500 text-2xl">empty</div>
      <input type="number" class="text-3xl text-right w-full bg-white text-black dark:bg-black dark:text-white"></input>
    </div>
    <style></style>
    <div class="border-black dark:border-white border grid grid-template-buttons text-3xl">
        <button class="border-black dark:border-white border active:bg-black active:text-white dark:active:bg-white dark:active:text-black h-button w-full">C</button>
        <button class="border-black dark:border-white border active:bg-black active:text-white dark:active:bg-white dark:active:text-black">CE</button>
        <button class="border-black dark:border-white border active:bg-black active:text-white dark:active:bg-white dark:active:text-black">%</button>
        <button class="border-black dark:border-white border active:bg-black active:text-white dark:active:bg-white dark:active:text-black">/</button>

        <button class="border-black dark:border-white border active:bg-black active:text-white dark:active:bg-white dark:active:text-black h-button w-full">7</button>
        <button class="border-black dark:border-white border active:bg-black active:text-white dark:active:bg-white dark:active:text-black">8</button>
        <button class="border-black dark:border-white border active:bg-black active:text-white dark:active:bg-white dark:active:text-black">9</button>
        <button class="border-black dark:border-white border active:bg-black active:text-white dark:active:bg-white dark:active:text-black">*</button>
      
        <button class="border-black dark:border-white border active:bg-black active:text-white dark:active:bg-white dark:active:text-black h-button w-full">4</button>
        <button class="border-black dark:border-white border active:bg-black active:text-white dark:active:bg-white dark:active:text-black">5</button>
        <button class="border-black dark:border-white border active:bg-black active:text-white dark:active:bg-white dark:active:text-black">6</button>
        <button class="border-black dark:border-white border active:bg-black active:text-white dark:active:bg-white dark:active:text-black">-</button>

        <button class="border-black dark:border-white border active:bg-black active:text-white dark:active:bg-white dark:active:text-black h-button w-full">1</button>
        <button class="border-black dark:border-white border active:bg-black active:text-white dark:active:bg-white dark:active:text-black">2</button>
        <button class="border-black dark:border-white border active:bg-black active:text-white dark:active:bg-white dark:active:text-black">3</button>
        <button class="border-black dark:border-white border active:bg-black active:text-white dark:active:bg-white dark:active:text-black">+</button>

        <button class="border-black dark:border-white border active:bg-black active:text-white dark:active:bg-white dark:active:text-black h-button w-full btn-0">0</button>
        <button class="border-black dark:border-white border active:bg-black active:text-white dark:active:bg-white dark:active:text-black">.</button>
        <button class="border-black dark:border-white border active:bg-black active:text-white dark:active:bg-white dark:active:text-black">=</button>
      
    </div>
  </div>












{{end}}