{{ define "main"}}
<div class="p-4 container mx-auto">
    <div class="flex flex-col items-end justify-center border-white border-2 p-4">
      <div class="text-gray-500 text-2xl">81.12 + 9</div>
      <div class="text-3xl">90.12</div>
    </div>
    <style></style>
    <div class="border-white border grid grid-template-buttons text-3xl">
        <button class="border-white border h-button w-full">C</button>
        <button class="border-white border ">CE</button>
        <button class="border-white border ">%</button>
        <button class="border-white border ">/</button>

        <button class="border-white border  h-button w-full">7</button>
        <button class="border-white border ">8</button>
        <button class="border-white border ">9</button>
        <button class="border-white border ">*</button>
      
        <button class="border-white border  h-button w-full">4</button>
        <button class="border-white border ">5</button>
        <button class="border-white border ">6</button>
        <button class="border-white border ">-</button>

        <button class="border-white border  h-button w-full">1</button>
        <button class="border-white border ">2</button>
        <button class="border-white border ">3</button>
        <button class="border-white border ">+</button>

        <button class="border-white border  h-button w-full btn-0">0</button>
        <button class="border-white border ">.</button>
        <button class="border-white border ">=</button>
      
    </div>
  </div>












{{end}}